node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

#vendor
/phpbackend/vendor/
#database
/phpbackend/config/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
