node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

#database
/phpbackend/config/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


/phpbackend/Services/PaymongoService.php
ngrok.exe
*.md
