node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

#database
/phpbackend/config/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


/phpbackend/Services/PaymongoService.php
ngrok.exe
*.md
phpbackend/vendor/autoload.php
phpbackend/vendor/composer/autoload_classmap.php
phpbackend/vendor/composer/autoload_files.php
phpbackend/vendor/composer/autoload_psr4.php
phpbackend/vendor/composer/autoload_real.php
phpbackend/vendor/composer/autoload_static.php
phpbackend/vendor/composer/platform_check.php
phpbackend/vendor/composer/autoload_classmap.php
phpbackend/vendor/composer/autoload_static.php
