@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Regular */
@font-face {
	font-family: 'Creato';
	src: url('/fonts/CreatoDisplay-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;

	font-family: 'Creato Bold';
	src: url('/fonts/CreatoDisplay-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@layer theme {
	--font-sans: 'Creato', sans-serif;
	/* Brand Colors */
	--color-mabini-black: #000000;
	--color-mabini-dark-brown: #2a1c0f;
	--color-mabini-light-brown: #d4a476;
	--color-mabini-cream: #ffe0b1;
	--color-mabini-dirty-white: #fff2e1;
	--color-mabini-white: #ffffff;
	--color-mabini-yellow: #ffae00;
	--color-mabini-red: red;
}

@layer base {
	:root {
		@apply text-mabini-black
			bg-mabini-white;
	}
	html {
		@apply scroll-smooth;
	}
	body {
		@apply bg-mabini-white
		font-sans;
	}
}
@layer components {
	.btn-primary {
		@apply bg-none text-mabini-black rounded-[50px] px-4 py-2 font-bold uppercase border cursor-pointer transition;
	}
	.btn-secondary {
		@apply bg-mabini-dark-brown text-mabini-white font-bold rounded-[50px] px-4 py-2 uppercase;
	}
	.contact-input {
		@apply w-full h-[40px] border border-gray-500 px-3 rounded-[7px] text-gray-500;
	}
	.option {
		@apply bg-mabini-black text-mabini-white hover:bg-neutral-500;
	}
}

@layer text {
	.h1-heading {
		@apply font-bold text-[64px];
	}
	.h2-heading {
		@apply font-bold text-[48px];
	}
	.paragraph {
		@apply text-[20px];
	}
}
@layer animation {
	.underline-anim {
		@apply absolute left-0 -bottom-2 w-0 h-0.5 bg-mabini-light-brown transition-all duration-300;
	}
	.group:hover .underline-anim {
		@apply w-full;
	}
}

/* Inputs, Options */
@layer utilities {
	.text-shadow {
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
}
